In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

weather_data = pd.read_csv('data/weather2.csv')
# weather_data.to_csv("output.csv")
print weather_data.loc[5]

UNIT                              R003
DATEn                         05-02-11
TIMEn                         00:00:00
ENTRIESn                       4388348
EXITSn                         2911036
ENTRIESn_hourly                     15
EXITSn_hourly                       34
datetime           2011-05-02 00:00:00
hour                                 0
day_week                             0
weekday                              1
station                  CYPRESS HILLS
latitude                      40.68995
longitude                    -73.87256
conds                    Mostly Cloudy
fog                                  0
precipi                              0
pressurei                        30.31
rain                                 0
tempi                               50
wspdi                              6.9
meanprecipi                          0
meanpressurei                 30.23833
meantempi                     54.16667
meanwspdi                         8.25
weather_lat                   40.70035
weather_lon                  -73.88718
Name: 5, dtype: object

In [58]:
weather_data[weather_data.conds == "Rain"].head()

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,weekday,station,latitude,longitude,conds,fog,precipi,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
78,R003,05-15-11,04:00:00,4404873,2922470,27,52,2011-05-15 04:00:00,4,6,0,CYPRESS HILLS,40.689945,-73.872564,Rain,0,0.00,29.68,1,55.4,9.2,0.000000,29.636000,61.880000,9.22,40.700348,-73.887177
97,R003,05-18-11,16:00:00,3389960,2473832,699,282,2011-05-18 16:00:00,16,2,1,CYPRESS HILLS,40.689945,-73.872564,Rain,1,0.08,29.96,1,57.2,12.7,0.020000,29.956000,56.780000,14.96,40.700348,-73.887177
188,R004,05-04-11,12:00:00,12037911,12079367,1916,609,2011-05-04 12:00:00,12,2,1,ELDERTS LANE,40.691320,-73.867135,Rain,0,0.01,29.96,1,53.6,13.8,0.002500,29.970000,54.225000,12.95,40.679413,-73.851105
266,R004,05-18-11,16:00:00,14711344,14492595,964,627,2011-05-18 16:00:00,16,2,1,ELDERTS LANE,40.691320,-73.867135,Rain,0,0.30,29.95,1,62.1,18.4,0.053333,29.961667,63.466667,15.35,40.679413,-73.851105
362,R005,05-04-11,12:00:00,13410408,12924892,2636,436,2011-05-04 12:00:00,12,2,1,FOREST PARKWAY,40.692304,-73.860151,Rain,0,0.01,29.96,1,53.6,13.8,0.004000,29.966000,53.380000,13.12,40.679413,-73.851105

In [56]:
import pandasql

q = """
select ENTRIESn, station, conds
from weather_data 
where conds = 'Rain'
limit 900
"""

filtered_data_rain = pandasql.sqldf(q, locals())
filtered_data_rain.describe()

           ENTRIESn
count  9.000000e+02
mean   2.943125e+07
std    3.188633e+07
min    0.000000e+00
25%    9.705331e+06
50%    1.862494e+07
75%    3.541847e+07
max    1.843273e+08

In [60]:
import pandasql

q = """
select ENTRIESn, station, conds
from weather_data 
where conds = 'Clear'
limit 900
"""

filtered_data = pandasql.sqldf(q, locals())
filtered_data.describe()
filtered_data.conds.count()

900

In [ ]:
# for i in range(0, len(df.index) ):
#         if i == 0:
#             df["ENTRIESn_hourly"] = 1
#         else:
#             df["ENTRIESn_hourly"].iloc[i] = df["ENTRIESn"].iloc[i] - df["ENTRIESn"].iloc[i - 1]

In [ ]:
# import sklearn.linear_model

# model = sklearn.linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)
# model.fit(features, values, sample_weight=None)

# intercept = model.intercept_
# params = model.coef_

# model.predict(X)

In [ ]:
import numpy as np
import pandas
from sklearn.linear_model import SGDRegressor

"""
In this question, you need to:
1) Implement the linear_regression() procedure using gradient descent.
   You can use the SGDRegressor class from sklearn, since this class uses gradient descent.
2) Select features (in the predictions procedure) and make predictions.

"""

def normalize_features(features):
    ''' 
    Returns the means and standard deviations of the given features, along with a normalized feature
    matrix.
    ''' 
    means = np.mean(features, axis=0)
    std_devs = np.std(features, axis=0)
    normalized_features = (features - means) / std_devs
    return means, std_devs, normalized_features

def recover_params(means, std_devs, norm_intercept, norm_params):
    ''' 
    Recovers the weights for a linear model given parameters that were fitted using
    normalized features. Takes the means and standard deviations of the original
    features, along with the intercept and parameters computed using the normalized
    features, and returns the intercept and parameters that correspond to the original
    features.
    ''' 
    intercept = norm_intercept - np.sum(means * norm_params / std_devs)
    params = norm_params / std_devs
    return intercept, params

def linear_regression(features, values):
    """
    Perform linear regression given a data set with an arbitrary number of features.
    """
    
    ###########################
    ### YOUR CODE GOES HERE ###
    ###########################
    
    model = SGDRegressor()
    model.fit(features, values)

    intercept = model.intercept_
    params = model.coef_
    
    return intercept, params

def predictions(dataframe):
    '''
    The NYC turnstile data is stored in a pandas dataframe called weather_turnstile.
    Using the information stored in the dataframe, let's predict the ridership of
    the NYC subway using linear regression with gradient descent.
    
    You can download the complete turnstile weather dataframe here:
    https://www.dropbox.com/s/meyki2wl9xfa7yk/turnstile_data_master_with_weather.csv    
    
    Your prediction should have a R^2 value of 0.40 or better.
    You need to experiment using various input features contained in the dataframe. 
    We recommend that you don't use the EXITSn_hourly feature as an input to the 
    linear model because we cannot use it as a predictor: we cannot use exits 
    counts as a way to predict entry counts. 
    
    Note: Due to the memory and CPU limitation of our Amazon EC2 instance, we will
    give you a random subset (~50%) of the data contained in 
    turnstile_data_master_with_weather.csv. You are encouraged to experiment with 
    this exercise on your own computer, locally.
    
    If you receive a "server has encountered an error" message, that means you are 
    hitting the 30-second limit that's placed on running your program. Try using a
    smaller number of features or fewer iterations.
    '''
    ################################ MODIFY THIS SECTION #####################################
    # Select features. You should modify this section to try different features!             #
    # We've selected rain, precipi, Hour, meantempi, and UNIT (as a dummy) to start you off. #
    # See this page for more info about dummy variables:                                     #
    # http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html          #
    ##########################################################################################
    
  
    #datelist = []
    
    #for item in dataframe["DATEn"]:
        #string = item[5:7]
        #number = int(string)
        #datelist.append(number)
    
    #dataframe["current_month"] = datelist
    
    dataframe["DATEn"] = pandas.to_datetime(dataframe["DATEn"])
    dataframe["day_of_week"] = dataframe.DATEn.dt.dayofweek
    
    
    features = dataframe[['rain', 'Hour', 'day_of_week', 'precipi']]
    
    
    dummy_units = pandas.get_dummies(dataframe['UNIT'], prefix='unit')
    features = features.join(dummy_units)
    
    # Values
    values = dataframe['ENTRIESn_hourly']
    
    # Get numpy arrays
    features_array = features.values
    values_array = values.values
    
    means, std_devs, normalized_features_array = normalize_features(features_array)

    # Perform gradient descent
    norm_intercept, norm_params = linear_regression(normalized_features_array, values_array)
    
    intercept, params = recover_params(means, std_devs, norm_intercept, norm_params)
    
    predictions = intercept + np.dot(features_array, params)
    # The following line would be equivalent:
    # predictions = norm_intercept + np.dot(normalized_features_array, norm_params)
    
    #print dataframe.dtypes
    #print ":::::::::::::::::::"
    #print features.dtypes
    #print ":::::::::::::::::::"
    print dataframe.describe()
    
    return predictions