# Open Street Data Wrangling with MongoDB
###### Željko Veić

#### Map Area: Zagreb, Croatia

https://www.openstreetmap.org/relation/3168167  
https://mapzen.com/data/metro-extracts

<a href="#choice">0. Choosing the Dataset</a>  
<a href="#problems">1. Problems Encountered in the Map</a>  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#problems-1">Abbreviated street names</a>  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#problems-2">No designation for a street type</a>   
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#problems-3">Street type can be in various positions in the street name with variable capitalization</a>  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#problems-4">Numbers in place of street names</a>  
<a href="#overview">2. Data Overview</a>  
<a href="#ideas">3. Additional Ideas</a>

## <span id="choice">0. Interest in the Dataset</span>

I chose Zagreb dataset since it's the city I currently live in.  
I was also interested to see how does parsing work when you have dataset in some language other than english.  
Also, I wondered if there are some language-specific problems which might be encountered during the analysis.

## <span id="problems">1. Problems Encountered in the Map</span>

In my data inspection I ran into several problems:  
* Abbreviated street names  
* No designation for a street type  
* Street type can be in various positions in the street name with variable capitalization  
* Numbers in place of street names

### <span id="problems-1">Abbreviated street names</span>

There are street name entries which have street designation "Ul." (shortened from "Ulica" which means "Street" in translation).  
Also, I found "Av." which is shortened from "Avenija" (translates into "Avenue")

### <span id="problems-2">No designation for a street type</span>

Frequently you have street names without explicit designation of a street type ("Gajnice", "Jankomir", "Vijenac", ...).  
In Croatia when you don't have street type specified the default street type is considered to be "Ulica" (i.e. "Street" in translation).

###  <span id="problems-3">Street type can be in various positions in the street name with variable capitalization</span>

Unlike the Chicago example from the course lessons where we could see that street type comes at the end of the street name, in Zagreb dataset we can see that is not the case here.  
Street type "Ulica" can be at the beginning ("Ulica Ljudevita Gaja") as well as on the end of the street name ("Dalmatinska ulica").  
Also note here that here street type "Ulica" is in one case capitalized and in other it's not.

### <span id="problems-4">Numbers in place of street names</span>

There are entries in the dataset which have numbers as the street names ("3", "22", "49").  
As the street namse In Croatia cannot be numbers this is obviously an error.  
And since there are only three instances of this error in entire dataset we can ignore them completely.

## <span id="overview">2. Data Overview</span>

Here are some basic statistics on the dataset and the MongoDB queries I used to attain them.

### File size

In [12]:
import os

path_to_osm = '/home/veich/projects/nanodegree/003-open-street-map/dev/data/zagreb_croatia.osm'
path_to_json = '/home/veich/projects/nanodegree/003-open-street-map/dev/data/zagreb_croatia.osm.json'

print 'zagreb_croatia.osm .......... ' + str(os.path.getsize(path_to_osm) / (1024 * 1024)) + ' MB'
print 'zagreb_croatia.osm.json ..... ' + str(os.path.getsize(path_to_json) / (1024 * 1024)) + ' MB'

zagreb_croatia.osm .......... 78 MB
zagreb_croatia.osm.json ..... 85 MB

### Number of documents

> db.locations.find().count()

422786

### Number of nodes

> db.char.find({"type": "node"}).count()

1073445

### Number of ways

> db.char.find({"type": "way"}).count()

194913

### Number of unique users

> db.locations.aggregate([{'$match': {"created.user": {'$exists': 1}}},
                          {'$group': {'_id':'$created.user',
                                     'count':{'$sum': 1}}},
                          {'$group': {'_id': 'Number of unique users',
                                     'count': {'$sum': 1}}}])

{u'_id': u'Number of unique users', u'count': 569}

### Top 1 contributing user

> db.locations.aggregate([{'$group': {'_id':'$created.user',
                                      'count':{'$sum': 1}}},
                          {'$sort': {'count': -1}},
                          {'$limit': 1}])

{u'_id': u'Vedran V', u'count': 333606}

### Minimum number of posts per user

> db.locations.aggregate([{'$group': {'_id': '$created.user',
                                      'count': {'$sum': 1}}},
                          {'$sort': {'count': 1}},
                          {'$limit': 1}])

{u'_id': u'Aury88', u'count': 3}

### Number of users having only three posts

> db.locations.aggregate([{'$group': {'_id': '$created.user',
                                      'count': {'$sum': 1}}},
                          {'$match': {'count': {'$eq': 3}}},
                          {'$group': {'_id':'Users having three posts',
                                      'count':{'$sum': 1}}}])

{u'_id': u'Users having three posts', u'count': 155}

## <span id="ideas">3. Additional Ideas</span>

In [20]:
from IPython.core.display import HTML
#HTML("<style>" + open("style.css", "r").read() + "</style>")
HTML("<style>*{background: #f8f8f8;}</style>")

http://stackoverflow.com/questions/4022827/how-to-insert-some-string-in-the-given-string-at-given-index-in-python#4023434  
http://github.com/dunovank